#{extends 'main.html' /}
#{set title:'Home' /}

<form action="@{Postagens.salvar}">
  <div class="form-group">
    <label for="exampleInputEmail1">Título:</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Informe o título">
  </div>
  <div class="form-group">
    <label>Conteudo:</label>
    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Informe o Conteudo">
  </div>
  <div class="form-group">
    <label>Autor:</label>
    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Informe o Autor">
  </div>
  <div class="form-group">
    <label>Data:</label>
    <input type="date" class="form-control" aria-describedby="emailHelp">
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>